{% extends 'base.html' %}
{% load static %}
{% block contents %}

<!-- ↓↓タイトル部分↓↓ -->
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center border-bottom mb-3">
    <h1 class="h2 ml-5">詳細ページ</h1>
  </div>

<div class="container">
    <div class="col-lg-8 offset-lg-2">
        <table class="table table-hover table-bordered">
            <thead>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">書籍名：</th>
                    <!-- <td width="30%">書籍名：</td width="10%">      -->
                    <td width="80%">{{ result1.book_name }}</td width="90%">
                </tr>
                <tr>
                    <th scope="row">著者名：</th>
                    <td>{{ result1.author.author_name }}</td>
                </tr>
                <tr>
                    <th scope="row">商品イメージ：</th>
                    <td><a href="{{ result1.purchase_page_url }}">
                            <img src="{{ result1.image_url }}" alt="..." class="img-thumbnail">
                        </a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">商品説明：</th>
                    <td>{{ result1.book_detail }}</td>
                </tr>
                <tr>
                    <th scope="row">レビュー：</th>
                    <td>{% if result2.book_review %}
                        {{ result2.book_review }}
                        {% else %}
                        <p>未だレビューはありません</p>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row">マイ本棚に追加：</th>
                    <td>

                        <!-- メソッドは"get" -->
                        <form method="post"  id="{{ result1.id }}" action="/app_bookshelf/give_like/">
                            {%csrf_token%}
                            {{form.as_p }}
                        <button type="submit" class="btn btn-outline-primary" class="btn btn-primary" name="submit" value="{{ result1.id }}" onclick="document.forms['{{result1.id}}'].submit();">追加する</button>
                        </form>

                    </td">
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}