{% extends 'base.html' %}
{% block contents %}

<p><a href="/app_bookshelf/my_page">マイページ</a></p>
<p><a href="/app_bookshelf/make_account">会員登録</a></p>
<p><a href="/app_bookshelf/account_edit">会員情報編集</a></p>
<p><a href="/app_bookshelf/login">ログインページ</a></p>
<p><a href="/app_bookshelf/shelf_search">本棚検索ページ</a></p>
<p><a href="/app_bookshelf/shelf_list">本棚リスト</a></p>
<p><a href="/app_bookshelf/browsing_history">閲覧履歴</a></p>
<p><a href="/app_bookshelf/like_history">いいね</a></p>
<p><a href="/app_bookshelf/book_shelfs">本棚ページ</a></p>
<p><a href="/app_bookshelf/book_details">書籍の詳細ページ</a></p>
{% endblock %}