<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    {% load static %}
    {% load bootstrap4 %}
    {% bootstrap_css %}
    <link rel="stylesheet" type='text/css' href="{% static 'css/style.css'%}">
    {% bootstrap_javascript jquery='full' %}
    <title>タイトル</title>
  </head>
  <body>
    <div class="container-fulid">
      <div class="row">
        <div class="col-12 mb-5">
          <nav class="navbar navbar-light bg-info">
            <a class="nav-item nav-link text-light" href="{% url 'app_bookshelf:my_page' %}"><img width="40%" src="{% static 'images/title_mybookshelf.png' %}"></a>
            <a class="nav-item nav-link text-light" href="/accounts/login" >ログイン</a>
            <a class="nav-item nav-link text-light" href="/accounts/logout" >ログアウト</a>
          </nav>
        </div>
      </div>
    </div>

    
    {% if messages %}
      {% for message in messages %}
          <div class="{{ message|bootstrap_message_classes }} alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&#215;</button>
              {{ message }}
          </div>
      {% endfor %}
    {% endif %}

    <script type="text/javascript">
      $(function(){
        setTimeout("$('.alert').fadeOut('slow')", 3000)
      })
   </script>


    {% block contents %}
    {% endblock %}
  </body>
</html>